schedule: "0 6 * * 0"
max_active_runs: 1
steps:
  - name: maintenance
    command: /usr/local/sbin/teteo-docker-prune
handler_on:
  success:
    command: curl --fail --silent --show-error http://127.0.0.1:8000/ping/{{ teteo_checks['docker-prune'] }}
  failure:
    command: curl --fail --silent --show-error http://127.0.0.1:8000/ping/{{ teteo_checks['docker-prune'] }}/fail
