DAGU_HOST={{ docker_gateway.stdout }}
DAGU_PORT=8081
DAGU_HOME={{ teteo_root }}/dagu
DAGU_DAGS_DIR={{ teteo_root }}/dagu/dags
DAGU_TZ={{ teteo_timezone }}
DAGU_AUTH_MODE=basic
DAGU_AUTH_BASIC_USERNAME={{ teteo_admin_user }}
DAGU_AUTH_BASIC_PASSWORD={{ teteo_ui_password }}
DAGU_PUBLIC_URL=https://jobs.{{ teteo_domain }}
DAGU_TERMINAL_ENABLED=false
