RESTIC_REPOSITORY=s3:http://127.0.0.1:9000/restic
AWS_ACCESS_KEY_ID={{ teteo_restic_user }}
AWS_SECRET_ACCESS_KEY={{ teteo_restic_key }}
RESTIC_PASSWORD={{ teteo_restic_password }}
RESTIC_CACHE_DIR={{ teteo_root }}/backrest/host-cache
