[defaults]
inventory = inventory/hosts.yml
roles_path = roles
vault_password_file = ../.local/vault-password
interpreter_python = /usr/bin/python3
host_key_checking = True
retry_files_enabled = False
[ssh_connection]
pipelining = True
